* {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;

	margin: 0;

	text-align: left;

	color: #444444;
	background-color: #f3f3f3;
}

QLabel {
	color: #1b1b1b;
	background-color: #00000000;
	font-size: 15px;
}

QPushButton {
	color: white;
	background-color: #F44242;
	font-size: 14px;
	border-radius: 6px;
	text-align: center;
}

QCheckBox {
	background: #00000000;
	font-size: 14px;
}